*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
display: flex;
}

aside{
background: #E8E2E2;
width: 200px;
height: 100vh;
}

header{
background: #E8E2E2;
width: 100%;
height: 113px;
}

.logo{
display: flex;
padding: 28px 0 67px 23px;
}

.logo img{
width: 38px;
height: 38px;
}

.logo p{
font-size: 27px;
font-weight: 400;
}

aside li{
list-style-type: none;
padding-bottom: 21px;
padding-left: 10px;
}

aside li:nth-child(4){
padding-top: 100px;
}

aside li a{
text-decoration: none;
color: black;
font-size: 20px;
font-weight: 300;
}

aside li a:hover{
text-decoration: underline;
}

header h1{
font-size: 40px;
font-weight: 300;
padding: 30px;
}

.text, form, table{
position: absolute;
top: 150px;
left: 220px;
}

.pvtr{
margin-left: 20px ;
}

table{
border-collapse: collapse;
}

table th{
font-size: 16px;
padding: 15px;
border-right: 1px solid #6E6363;
border-left: 1px solid #6E6363;
font-weight: 300;
}

table td{
font-size: 14px;
padding: 22px;
}

table tr:nth-child(1){
background-color: #CFC4C4;
border: 1px solid #6E6363;
}

.save {
border-radius: 5px;
border: 1px solid #000;
background: #C1444E;
width: 133px;
height: 42px;
margin: 26px 520px 46px 38px;
margin-left: 270px;
}

h3{
color: #322F2F;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin: 38px;
margin-left:250px;
}

fieldset{
border: 1px solid #000;
width: 691px;
height: 500px;
border-radius: 50px;
background: #CDA09D;
}

input, select{
width: 289px;
height: 42px;
margin-left: 38px;
padding: 26px 0;
}
