{% extends 'myapp/base.html' %}

{% block title %}
Контакты
{% endblock %}
{% block content %}
<div class="Wait">
    <h2>Ждем вас в нашем офисе</h2>
    <div class="Rams2">
        <div class="Rams2_1">
            <p>Адрес:</p>
            <h3>г. Ликино-Дулево, ул. Туманова, д. 9 </h3>
        </div>
        <div class="Rams2_2">
            <p>Время работы</p>
            <h3>Вт - Сб</h3>
            <h3>10:00 - 19:00</h3>
        </div>
        <div class="Rams2_3">
            <p>Обращаем внимание</p>
            <h3>Компания «Проект Жилстрой»<br> заключает договоры только<br> на территории офиса.</h3>
        </div>
    </div>
</div>
{% endblock %}